/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face{
    font-family:"C39HrP24DhTt";
    src:url("c39hrp24dhtt.eot?") 
        format("eot"),url("c39hrp24dhtt.woff") 
        format("woff"),url("c39hrp24dhtt.ttf") 
        format("truetype"),
        url("c39hrp24dhtt.svg#C39HrP24DhTt") 
        format("svg");
        font-weight:normal;
        font-style:normal;
}
